{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}Add leftover{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="productName">Name</label>
        <input name="productname" id="productName" class="input-text" value="{{ request.form['productname'] }}" required>
        <label for="intro">Description</label>
        <textarea name="product_intro" id="intro" class="textarea">{{ request.form['body'] }}</textarea>
        <label for="type">Type</label>
        <span class="select-box">
          <select class="select" id="type" size="1" name="type">
            <option value="糕点" selected>Dessert</option>
            <option value="奶茶">Drinks</option>
            <option value="水果">Fruit</option>
            <option value="其他">Others</option>
          </select>
        </span>
        <label for="begintime">Production Date</label>
        <input name="producetime" id="begintime" type="datetime-local" class="input-text" required>
        <label for="endtime">Expiration Date</label>
        <input name="qualitytime" id="endtime" type="datetime-local" class="input-text" required>
        <label for="price">Price</label>
        <input name="price" type="number" step=0.01 id="price" class="input-text" required>

      <input type="submit" class="btn" value="Save">
  </form>
{% endblock %}