{% extends 'index.html' %}

{% block active %}
        <div class="nav-item col-4" style="border-left: transparent;"><a href="{{ url_for('products.index') }}" class="nav-link text-center">Products</a></div>
        <div class="nav-item col-4 active"><a href="{{ url_for('products.list') }}" class="nav-link text-center">Orders</a></div>
        <div class="nav-item col-4"><a href="{{ url_for('products.map')  }}" class="nav-link text-center">Mypage</a></div>
{% endblock %}

{% block header %}
  <h1>{% block title %}My orders{% endblock %}</h1>
{% endblock %}

{% block content %}
        <div class="owl-carousel">
          {% for product in products %}
              <div class="card item" style="width: 100%;">
                <div id="qrcode" style="display: none;">
                  <img id="qrimage" width="100%" height="100%" src="../static/image/qrcodes/{{product['product_create']}}-qrcode.svg">
                </div>
                  <h2 class="card-header">{{ product['productname'] }}
                      <span class="text-muted" style="font-size: 18px;">
                          {% if product['cancel'] == 0 %} Seller is preparing.
                          {% elif product['cancel'] == 1 %} Ready to pick.
                          {% else %} Order is finished.
                          {% endif %}
                      </span>
                      <p class="text-muted" style="font-size: 18px;margin:10px 0;">
                          Ordered Time：{{ product['trade_time'].strftime('%Y-%m-%d %H:%M')}}
                      </p>
                        {% if g.user['user_phone'] == product['seller_phone'] and product['cancel'] == 0 %}
                        <a href="{{ url_for('products.send', id=product['product_create']) }}" class="btn">Prepared</a>
                        {% elif g.user['user_phone'] == product['user_phone'] and product['cancel'] == 1 %}
                        <a href="{{ url_for('products.receive', id=product['product_create']) }}" class="btn">Picked</a>
                        {% endif %}
                        {% if g.user['user_phone'] == 123 %}
                        <a href="{{ url_for('products.orderdelete', id=product['product_create']) }}" class="btn">Delete</a>
                        {% endif %}
                  </h2>


                 {% if product['type'] == '糕点'%}
                  <img class="card-img-top" src="../static/image/bread.png" alt="Card image cap">
                   {% elif product['type'] == '奶茶'%}
                    <img class="card-img-top" src="../static/image/milktea.png" alt="Card image cap">
                  {% elif product['type'] == '水果'%}
                      <img class="card-img-top" src="../static/image/fruit.png" alt="Card image cap">
                  {% else%}
                      <img class="card-img-top" src="../static/image/other.png" alt="Card image cap">
                  {% endif %}
                <div class="card-body">
                  <p class="card-text body">Seller：{{ product['storename'] }}</p>
                    {% if product['product_intro'] != null %}
                  <p class="card-text">Description： {{ product['product_intro'] }}</p>
                    {% endif %}
                  <p class="card-text body" style="margin-bottom: 0">Production Date： {{ product['producetime']}}</p>
                    <p class="card-text body">Expiration Date： {{ product['qualitytime']}}</p>
                    <p class="card-text body">Price：{{ product['price'] }} yuan</p>
                  {% if product['cancel'] == 1 %}
                    <a id="qrbutton" class="btn">QRcode</a>
                    {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>
        {% endblock %}