<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="logo" href="../../static/image/logo.png">


    <title>{% block header %}{% block title %}Log In{% endblock %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/login.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  </head>

  <body class="text-center">

    <div class="container">

      <form class="form-login"  method="post">
      <img class="mb-4" src="../../static/image/pusheen2.gif" alt="" width="170" height="100">
        <h2 class="form-login-heading">食余</h2>
        {% block content %}
        <label for="inputPhonenumber" class="sr-only">手机号</label>
        <input type="number" name="user_phone" id="inputPhonenumber" class="form-control" placeholder="Phone number" required autofocus>

        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        {% endblock %}
        <div class="checkbox">
          <!--<a href="#">没有账户？注册一个新用户</a>-->
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="check" type="submit">
            {% block button %}
            登录
            {% endblock %}</button>
      </form>
        {% if error %}  {{ error }} {% endif %}

    </div> <!-- /container -->

    <script type="text/javascript" src="../../static/js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>