{% extends 'auth/login.html' %}

{% block header %}
  {% block title %}Store Register{% endblock %}
{% endblock %}

{% block content %}
        <label for="inputPhonenumber" class="sr-only">手机号</label>
        <input type="number" name="user_phone" id="inputPhonenumber" class="form-control" placeholder="Phone number" required autofocus>
        <label for="inputUsername" class="sr-only">用户名</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputStore" class="sr-only">商店名称</label>
        <input type="text" name="storename" id="inputStore" class="form-control" placeholder="Store name" required>
        <label for="inputLocation" class="sr-only">地址</label>
        <input type="text" name="location" id="inputLocation" class="form-control" placeholder="Store address" required>
        <label for="inputIntro" class="sr-only">Store description</label>
        <input type="text" name="seller_intro" id="inputIntro" class="form-control" placeholder="Store description">
        <label for="inputBegin">Opening time</label>
        <input type="time" name="begintime" id="inputBegin" class="form-control" placeholder="Opening time" required>
        <label for="inputEnd">Closing time</label>
        <input type="time" name="endtime" id="inputEnd" class="form-control" placeholder="Closing time" required>

{% endblock %}

{% block button %}
    Register
{% endblock %}