<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no,uc-fitscreen=yes">
    <title>food</title>
     <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/owl.carousel.min.css" rel="stylesheet" >
    <link href="../static/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="../static/css/H-ui.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
</head>
<body>

    <div class="container">
    <div class="navbar navbar-expand navbar-light bg-light fixed-top row">
        {% block active %}
        <div class="nav-item col-4 active" style="border-left: transparent;"><a href="{{ url_for('products.index') }}" class="nav-link text-center">Products</a></div>
        <div class="nav-item col-4"><a href="{{ url_for('products.list') }}" class="nav-link text-center">Order</a></div>
        <div class="nav-item col-4"><a href="{{ url_for('products.map')  }}" class="nav-link text-center">Mypage</a></div>
        {% endblock %}
    </div>

    <div class="panel panel-default" style="margin-top: 50px;">
      {% if g.user %}
      <span class="user">{{ g.user['user_phone'] }}  </span>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
       {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
     <span class="user"> </span>
    </div>

    <section class="content">
      <header>
        {% block header %}
          <h1>{% block title %}Products list{% endblock %}</h1>
          {% if g.user['is_seller'] == 1 %}
            <a class="action btn" href="{{ url_for('products.create') }}">Add leftover</a>
          {% endif %}
        {% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}

        {% block content %}
        <div class="owl-carousel">
          {% for product in products %}
              <div class="card item" style="width: 100%;">
                <div id="qrcode" style="display: none;">
                  <img id="qrimage" width="100%" height="100%" src="../static/image/qrcodes/{{product['product_create']}}-qrcode.svg">
                </div>
                <h2 class="card-header">{{ product['productname'] }}</h2>


                  {% if product['type'] == '糕点'%}
                  <img class="card-img-top" src="../static/image/bread.png" alt="Card image cap">
                   {% elif product['type'] == '奶茶'%}
                    <img class="card-img-top" src="../static/image/milktea.png" alt="Card image cap">
                  {% elif product['type'] == '水果'%}
                      <img class="card-img-top" src="../static/image/fruit.png" alt="Card image cap">
                  {% else%}
                      <img class="card-img-top" src="../static/image/other.png" alt="Card image cap">
                  {% endif %}


                  <div class="card-body">
                  <p class="card-text body">Seller：{{ product['storename'] }}</p>
                    {% if product['product_intro'] != null %}
                  <p class="card-text">Description： {{ product['product_intro'] }}</p>
                    {% endif %}
                  <p class="card-text body" style="margin-bottom: 0">Production Date： {{ product['producetime']}}</p>
                    <p class="card-text body">Expiration Date： {{ product['qualitytime']}}</p>
                    <p class="card-text body">Price：{{ product['price'] }} yuan</p>
                  <a href="{{ url_for('products.trade', id=product['product_create']) }}" class="btn">Order</a>
                  {% if g.user['user_phone'] == product['seller_phone'] %}
                        <a class="action btn" href="{{ url_for('products.update', id=product['product_create']) }}">Modify information</a>
                  {% endif %}
                  {% if g.user['user_phone'] == 123 %}
                        <a href="{{ url_for('products.delete', id=product['product_create']) }}" class="btn">Delete</a>
                  {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>
        {% endblock %}
    </section>
  </div>
    <script type="text/javascript" src="../static/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../static/js/H-ui.min.js"></script>
    <script>
        $(document).ready(function(){
          $('.owl-carousel').owlCarousel({
              loop:false,
              margin:10,
              nav:true,
              responsive:{
                  0:{
                      items:1
                  }
              }
          })
        });

        $(function() {
            $("#qrbutton").click(function() {
                $("#qrcode").fadeIn("slow");
            });

            $("#qrcode").click(function() {
                $("#qrcode").fadeOut("slow");
            })
            
        });
    </script>
</body>
</html>