<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food</title>
     <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/login.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-expand navbar-light bg-light fixed-top">

      <ul class="navbar-nav">
          <li class="nav-item"><a href="#" class="nav-link">1</a></li>
          <li class="nav-item"><a href="#" class="nav-link">2</a></li>
          <li class="nav-item"><a href="#" class="nav-link">3</a></li>
          <li class="nav-item"><a href="#" class="nav-link">4</a></li>
      </ul>

    </nav>

    <div class="panel panel-default" style="margin-top: 50px;">
      {% if g.user %}
      <span>{{ g.user['username'] }}  </span>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
       {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </div>

    <section class="content">
    <header>
      {% block header %}
        <h1>{% block title %}商品列表{% endblock %}</h1>
        {% if g.user %}
          <a class="action" href="{{ url_for('products.create') }}">New</a>
        {% endif %}
      {% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
        {% block content %}
        {% for post in posts %}
          <article class="post">
            <header>
              <div>
                <h1>{{ post['title'] }}</h1>
                <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d, %H:%M:%S"') }}</div>
              </div>
              {% if g.user['id'] == post['author_id'] %}
                <a class="action" href="{{ url_for('products.update', id=post['id']) }}">Edit</a>
              {% endif %}
            </header>
            <p class="body">{{ post['body'] }}</p>
          </article>
          {% if not loop.last %}
            <hr>
          {% endif %}
        {% endfor %}
      {% endblock %}
    </section>
  </div>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

</body>
</html>