<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>food</title>
     <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
</head>
<body>
  <div class="container">

    <div class="navbar navbar-expand navbar-light bg-light fixed-top row">
        <div class="nav-item col-3"><a href="#" class="nav-link text-center">商品</a></div>
        <div class="nav-item col-3"><a href="#" class="nav-link text-center">店家</a></div>
        <div class="nav-item col-3"><a href="#" class="nav-link text-center">订单</a></div>
        <div class="nav-item col-3"><a href="#" class="nav-link text-center">我的</a></div>  
    </div>

    <div class="panel panel-default" style="margin-top: 50px;">
      {% if g.user %}
      <span>{{ g.user['username'] }}  </span>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
       {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    </div>

    <section class="content">
      <header>
        {% block header %}
          <h1>{% block title %}商品列表{% endblock %}</h1>
          {% if g.user %}
            <a class="action" href="{{ url_for('products.create') }}">New</a>
          {% endif %}
        {% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}
      {% for post in posts %}
      <div class="card" style="width: 100%;">
        <h3 class="card-header">{{ post['title'] }}</h3>
        <img class="card-img-top" src="../static/image/logo.png" alt="Card image cap">
        <div class="card-body">
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d, %H:%M:%S"') }}</div>
          <p class="card-text body">{{ post['body'] }}</p>
          <a href="#" class="btn btn-primary">订购</a>
          {% if g.user['id'] == post['author_id'] %}
                <a class="action" href="{{ url_for('products.update', id=post['id']) }}">Edit</a>
          {% endif %}
          {% if not loop.last %}
            <hr>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      {% endblock %}
    </section>
  </div>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

</body>
</html>